* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #262626;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
  /* background-color: red; */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 10px;
  text-align: center;
}

.text-container > h2 {
  margin-bottom: 15px;
  color: #F9F4DA;
}



.text-container > p {
  width: 100%;
  color: #8E8E8E;
}

.lanquage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 12px;
  margin-top: 70px;
  /* background-color: red; */
  width: 86%;
}

.lanquage-container > div {
  width:fit-content;
  margin: 0 5px;
  /* background-color: blue; */
  border-radius: 5px;
  padding: 5px;
}

.all-letter-container {
  /* background-color: red; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 80%;
}

.letter-container {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 6px;
}

.keyboard-container {
  margin-top: 80px;
  width: 80%;
  text-align: center;
}

.keyboard-container > button {
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
}

.clicked {
  background-color: red;
}

.included {
  background-color: green;
}

.resualt-text {
  font-size: 4rem;
  margin-top: 30px;
  color: white;
}
